@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home"];
}

<div class="image-circle image-1 border-15 border-palette-light-1"></div>
<div class="image-circle image-2 border-15 border-palette-light-2"></div>
<div class="image-circle image-3 border-35 border-palette-dark-1"></div>

<div class="text-1 text-center">
    <h1>@Localizer["Welcome"]</h1>
    <p class="text-margin">@Localizer["Welcome message"]</p>
    <a href="@Url.RouteUrl("ourHouse", new {lang = ViewContext.RouteData.Values["lang"]})" class="custom-buttom">@Localizer["Our house"]</a>
</div>

