@{
    ViewData["Title"] = "Home";
}

<div class="image-circle image-1 border-15 border-palette-light-1"></div>
<div class="image-circle image-2 border-15 border-palette-light-2"></div>

<div class="text-1">
    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales turpis porta, varius libero a, dapibus metus. Maecenas porta feugiat eros malesuada hendrerit. Praesent at libero sed nisi efficitur accumsan a sit amet leo. Vivamus et euismod sapien, semper mollis eros. In leo ante, dictum id nibh sed, lobortis ultricies neque. Donec ac volutpat urna. Fusce id ullamcorper justo, at facilisis felis. Sed at feugiat neque. Pellentesque tempor hendrerit vestibulum.</p>
</div>

