@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Our house"];
}

<div class="text-2 text-center">
    <h1 class="display-4">@Localizer["Our house"]</h1>
    <p>@Localizer["Our house message"]</p>
</div>