:root {
    --background-color: #cbdbd1;
    --color-palette-light-1: #a8c0b1;
    --color-palette-light-2: #f1f6f3;
    --color-palette-dark-1: #687f71;
    --color-text-button: #ffffff;
    --color-text-background: #ffffff;
}

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    margin-bottom: 60px;
    background-color: var(--background-color);
    font-family: Quicksand;
}

.image-circle {
    border-radius: 50%;
}

.text-round {
    border-radius: 10%;
}

.text-margin {
    margin: 30px 0;
}

.border-15 {
    border-width: 15px;
    border-style: solid;
}

.border-35 {
    border-width: 35px;
    border-style: solid;
}

.border-palette-light-1 {
    border-color: var(--color-palette-light-1);
}

.border-palette-light-2 {
    border-color: var(--color-palette-light-2);
}

.border-palette-dark-1 {
    border-color: var(--color-palette-dark-1);
}

.custom-buttom {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    align-self: center;
    background-image: none;
    margin: 34px auto 0;
    padding: 12px 52px 13px 51px;
    color: var(--color-text-button);
    background-color: var(--color-palette-dark-1);
    text-decoration: none;
    border-radius: 25px;
}

.custom-buttom:hover {
    background-color: var(--color-palette-light-1);
    color: var(--color-text-button);
}

@media (max-width: 575px) {
     .border-35 {
        border-width: 25px;
        border-style: solid;
    }
}